body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
 }
 
 #container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
 }

 header {
   text-align: center;
   margin-bottom: 20px;
}

header img {
   width: 200px;
   margin-bottom: 10px;
}
 
 h1 {
    text-align: center;
 }
 
 #input {
    margin-bottom: 20px;
 }
 
 #input label {
    font-weight: bold;
 }
 
 #input input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
 }
 
 #input button {
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
 }
 
 #output {
    text-align: center;
 }
 
 #output h2 {
    margin-top: 30px;
 }
 
 #waterTank {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
 }
 
 #waterTank td {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
 }
 
 #waterTank .filled {
    background-color: #ffff00;
 }

 #waterTank .water {
   background-color: #6eb9f7;
 }

#waterLevelsTable {
   margin-top: 20px;
   width: 100%;
   border-collapse: collapse;
}

#waterLevelsTable td {
   width: 20px;
   height: 20px;
   border: 1px solid #ccc;
}

 #waterLevelsTable .water {
   background-color: #6eb9f7
 }
 
 

 
 